.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 0.5vmin);
  color: rgb(0, 0, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart-container {
  margin-top:30px;
  width: min(100vw, 1300px);
}

.chart-options {
  display: flex;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 20px;
}

.option-name {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-right: 10px;
}